@import "~bootstrap/scss/bootstrap.scss";

.bar {
    background:rgb(40, 40, 40);
    color:white;
    width:20px;
    height:200px;
    // display: inline-block; 
    margin-left:50%;
}

.light {
    background: rgb(40, 40, 40);
    height: 400px;
    width: 200px;
    border-radius: 10px;
    display: inline-block; 
    margin-left: 44%;
}

.r-light {
    border-radius:50%;
    background:gray;
    margin-top:1px;
    height:120px;
    width:120px;
    display: inline-block; 
    
}

.r-light.active {
    background:rgb(255, 37, 37);
}

.y-light {
    border-radius:50%;
    background:gray;
    margin:1px;
    height:120px;
    width:120px;
    display: inline-block; 
}

.y-light.active {
    background: rgb(255, 255, 65);
}

.g-light {
    border-radius:50%;
    background:gray;
    margin:1px;
    height:120px;
    width:120px;
    display: inline-block; 
}

.g-light.active {
    background: rgb(0, 182, 0);
}







/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
